<!DOCTYPE html>
<html>
  <head>
    <title>RailsRealTimeSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="">
    <div class="navbar">
      <div>
        <%= link_to "Rails Real TimeSearch", root_path, class:"navbar-item" %>
      </div>
      <div>
        <%= link_to "Search Results", searches_index_path, class:"navbar-item" %>
  
      </div>
    </div>
    <div class="center-div">
      <%= yield %>
    </div>
  </body>
</html>
